<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{/fragments/resources :: head(title='Pizzeria')}"></th:block>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <h1 class="text-danger my-3">Benvenuto in pizzeria tal dei tali</h1>

            <div class="d-flex align-items-center flex-column">
                <p class="bg-warning p-1">Utente loggato: <span sec:authentication="name"></span></p>
                <p class="bg-warning p-1">Ruolo: <span sec:authentication="principal.authorities"></span></p>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <a th:href="@{/pizza/create}" class="btn btn-success me-3" sec:authorize="hasAuthority('ADMIN')">
                    Aggiungi pizza
                </a>

                <!-- input di ricerca -->
                <form th:action="@{/pizza}" method="GET" class="w-50">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Cerca pizza per nome..."
                               name="keyword" th:value="${search}">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>

                <a th:href="@{/ingredients}" class="btn btn-success ms-3" sec:authorize="hasAuthority('ADMIN')">
                    Ingredienti
                </a>
            </div>

            <!-- alert -->
            <div th:if="${message != null}" class="d-flex justify-content-center">
                <div class="alert alert-dismissible fade show"
                     th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
                    <div th:text="${message.message}"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <!-- Lista pizze se pizze presenti -->
            <table th:if="${pizzaList.size() > 0}" class="table table-primary table-striped">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pizza : ${pizzaList}">
                    <td th:text="${pizza.name}"></td>
                    <td th:text="${pizza.description}"></td>
                    <td th:text="|${pizza.price}€|"></td>
                    <td>
                        <a th:href="@{/pizza/{id}(id=${pizza.id})}" class="btn btn-info">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <a th:href="@{/pizza/edit/{id}(id=${pizza.id})}" class="btn btn-warning" sec:authorize="hasAuthority('ADMIN')">
                            <i class="fa-solid fa-pen"></i>
                        </a>

                        <form th:action="@{/pizza/delete/{id}(id=${pizza.id})}" method="POST" class="d-inline-block">
                            <!-- Se non ci sono offerte do la possibilità di eliminare la pizza -->
                            <button th:if="${pizza.offers.size() == 0}" class="btn btn-danger" type="submit" sec:authorize="hasAuthority('ADMIN')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            <!-- Altrimenti mostro pulsante farlocco. Ps. è solo esercizio di stile, altrimenti cancellando la pizza
                             cancello anche offerte associate grazie a cascade delete -->
                            <button th:unless="${pizza.offers.size() == 0}" class="btn btn-danger" disabled sec:authorize="hasAuthority('ADMIN')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Se lista pizze è vuota mostra questo -->
            <div class="alert alert-info" th:unless="${pizzaList.size() > 0}">
                Nessuna pizza nel menù
            </div>
        </div>
    </div>
</body>
</html>