<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(title='Pizzeria')}"></th:block>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <h1 class="text-danger my-3">Benvenuto in pizzeria tal dei tali</h1>

            <!-- input di ricerca -->
            <div class="d-flex justify-content-center">
                <form th:action="@{/pizza}" method="GET" class="w-50 mb-3">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Cerca pizza per nome..."
                               name="keyword" th:value="${search}">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Se lista pizze è vuota mostra questo -->
            <table th:if="${pizzaList.size() > 0}" class="table table-success table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pizza : ${pizzaList}">
                    <td th:text="${pizza.name}"></td>
                    <td th:text="${pizza.description}"></td>
                    <td th:text="|${pizza.price}€|"></td>
                    <td>
                        <a th:href="@{/pizza/{id}(id=${pizza.id})}" class="btn btn-info">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                        <a href="#" class="btn btn-warning">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="#" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- Se lista pizze è vuota mostra questo -->
            <div class="alert alert-info" th:unless="${pizzaList.size() > 0}">
                Nessuna pizza nel menù
            </div>
        </div>
    </div>
</body>
</html>