<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/resources :: head"></th:block>
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-center ">
        <table class="table table-primary table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzaList}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="|${pizza.price}€|"></td>
                <td>
                    <a th:href="@{/pizza/{id}(id=${pizza.id})}">Click for details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>