<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(title=${pizza.name})}"></th:block>
</head>
<body>
    <div class="container text-center">
        <div class="row d-flex justify-content-around">
            <!-- card dettagli pizza -->
            <div class="card w-25 mt-5 p-3 bg-warning" style="width: 18rem;">
                <img th:src="${pizza.image}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.name}"></h5>
                    <p class="card-text" th:text="${pizza.description}"></p>
                    <p class="card-text" th:text="|Prezzo: ${pizza.price}€|"></p>

                    <div>
                        <h4>Ingredienti</h4>
                        <ul class="list-group list-group-item-warning" th:if="${pizza.ingredients.size > 0}">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                th:each="ingredient : ${pizza.ingredients}"
                                th:object="${ingredient}" th:text="*{name}">
                            </li>
                        </ul>
                        <!-- se non ci sono ingredienti -->
                        <div th:unless="${pizza.ingredients.size > 0}" class="alert alert-info">Nessun ingrediente</div>
                    </div>

                    <a th:href="@{/pizza}" class="btn btn-primary mt-3">Back</a>
                </div>
            </div>

            <!-- card con lista offerte -->
            <div class="card w-50 mt-5 px-3 py-1 bg-warning" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title mb-3">Offerte speciali</h4>

                    <!-- alert -->
                    <div th:if="${message != null}" class="d-flex justify-content-center">
                        <div class="alert alert-dismissible fade show"
                             th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
                            <div th:text="${message.message}"></div>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn btn-success mb-3">
                        Aggiungi offerta
                    </a>

                    <table class="table table-primary table-striped" th:if="${pizza.offers.size() > 0}">
                        <thead>
                        <tr>
                            <th scope="col">Titolo</th>
                            <th scope="col">Data inizio</th>
                            <th scope="col">Data fine</th>
                            <th scope="col">Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="offer : ${pizza.offers}" th:object="${offer}">
                            <td th:text="*{title}"></td>
                            <td th:text="*{#temporals.format(startDate, 'dd/MM/yyyy')}"></td>
                            <td th:text="*{#temporals.format(endDate, 'dd/MM/yyyy')}"></td>
                            <td>
                                <a th:href="@{/offers/edit/{id}(id=${offer.id})}" class="btn btn-warning">
                                    <i class="fa-solid fa-pen"></i>
                                </a>

                                <form th:action="@{/offers/delete/{id}(id=${offer.id})}" method="POST" class="d-inline-block">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Se lista offerte è vuota mostra questo -->
                    <div class="alert alert-info" th:unless="${pizza.offers.size() > 0}">
                        Nessuna offerta disponibile
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>