<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/resources :: head(title=${pizza.name})}"></th:block>
</head>
<body>
    <div class="container text-center">
        <div class="row d-flex justify-content-center">
            <div class="card w-25 mt-5 p-3 bg-warning" style="width: 18rem;">
                <img th:src="${pizza.image}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.name}"></h5>
                    <p class="card-text" th:text="${pizza.description}"></p>
                    <p class="card-text" th:text="|Prezzo: ${pizza.price}€|"></p>
                    <a th:href="@{/pizza}" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>